<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Client Area</title>
    <style>
    .executor-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    }
    .executor-box h2 {
        color: #333;
        font-size: 20px;
    }
    .executor-box a {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        text-decoration: none;
        margin-top: 10px;
    }
    .executor-box a:hover {
        background-color: #0056b3;
    }
    </style>
</head>
<body>
    <h1>Executors</h1>
    {% for executor in object_list %}
    <div class="executor-box">
        <h2>{{ executor.name }}</h2>
        <p>Skills: {{ executor.skills.all|join:", " }}</p>
        <p>Experience: {{ executor.experience }}</p>
        <a href="{% url 'executor_detail' executor.id %}">Подробнее</a>
    </div>
    {% endfor %}


    <div class="button-container">
        <a href="{% url 'index' %}" class="button">Go to Home</a>

    </div>

</body>
</html>