<!-- write_message.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Message</title>
</head>
<body>
    <h1>Write Message to Executor {{ executor_id }}</h1>
    <form method="post">
        {% csrf_token %}
        <!-- Добавьте поля формы для написания сообщения здесь -->
        <textarea name="message" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Send Message">
    </form>
</body>
</html>